__pycache__/
*.py[cod]

venv/
env/
*.env/

*.egg-info/
dist/
build/

.coverage
.coverage.*
htmlcov/

.mypy_cache/

.pylintrc
.pylint/

*.bak
*.swp

.idea/
.vscode/

*.log

.ipynb_checkpoints/

.dmypy.json
dmypy.json

.python-version
